<table border="1px solid black">
    <tr>
        <td>S No.</td>
        <td>Name</td>
        <td>Roll No.</td>
        <td>Phone</td>
        <td>Email</td>
        <td>Address</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Sooraj</td>
        <td>1254</td>
        <td>9254685477</td>
        <td>sooraj@gmail.com</td>
        <td>Mahilpur</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Puneet</td>
        <td>1255</td>
        <td>9245847637</td>
        <td>puneet@gmail.com</td>
        <td>Jalandhar</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Love</td>
        <td>1256</td>
        <td>9658472541</td>
        <td>love@gmail.com</td>
        <td>Jalandhar</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Neeraj</td>
        <td>1257</td>
        <td>9565874251</td>
        <td>Neeraj@gmail.com</td>
        <td>Jalandhar</td>
    </tr>
</table>
