<div class="middle">
    <div class="d1">
        <img src="../../assets/2.jpg" alt="Unable to load picture">
        <h4 class="welcome">Welcome To</h4>
        <h4 class="bustext">Business Casual</h4>
        <h4 class="line">_______________________</h4>
        <h4 class="byname">By Sooraj</h4>
    </div>

    <div class="d2">
        <h4 class="line1">_________________________________</h4>
        <h4 class="about">About Our Business </h4>
        <h4 class="line2">_________________________________</h4>
        <img class="rimg" src="../../assets/5.jpg" alt="Unable to load">
        <p class="abouttext">There are more than 50,000 coffee shops in the U.S. and the number is growing. If an entrepreneur wants to start a new business, he or she will need to give lenders a good reason to invest. <br><br>
            This includes how the new coffee shop will stand out from the rest. For example, it may have a super location with no competition within miles, serves excellent coffee and snacks at lower prices than local competition,</p>
            <p class="abt2"> or provides a comfortable meeting place for locals, students or shoppers. We are from Hoshiarpur.</p>
    </div>
    <div class="d3">
        <h4 class="line1">_________________________________</h4>
        <h4 class="about">Our Content</h4>
        <h4 class="line2">_________________________________</h4>

        <p class="content">There are more than 50,000 coffee shops in the U.S. and the number is growing. If an entrepreneur wants to start a new business, he or she will need to give lenders a good reason to invest.</p>
    </div>
    <div class="footer">Copyright &copy; Year February 2021</div>
</div>