<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="linkdiv">
    <ul>
        <li class="link1">Home</li>
        <i class="fa fa-play-circle" aria-hidden="true"></i>
        <li class="links">Blog</li>
        <i class="fa fa-play-circle" aria-hidden="true"></i>
        <li class="links">News Feed</li>
        <i class="fa fa-play-circle" aria-hidden="true"></i>
        <li class="links">Wrapper</li>
        <i class="fa fa-play-circle" aria-hidden="true"></i>
        <li class="links">Links</li>
        <i class="fa fa-play-circle" aria-hidden="true"></i>
        <li class="links">Advanced Search</li>
        <i class="fa fa-play-circle" aria-hidden="true"></i>
        <li class="links">Contact Us</li>
    </ul>
</div>
