input{
    margin-left: 20px;
}
.in1{
    margin-left:3px;
}
.in2{
    margin-left:18px;
}
.in4{
    margin-left:6px;
}
button{
    width:140px;
    height: 30px;
    margin-left:40px;
}
div{
    width:100%;
    text-align: center;
}