<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="leftdiv">
        <ul >    
            <a href="#"><li>Laptop</li></a>
            <br>
            <a href="#"><li>PC</li></a>
            <br>
            <a href="#"><li>Keyboard</li></a>
            <br>
            <a href="#"><li>Mouse</li></a>
            <br>
            <a href="#"><li>Printer</li></a>
            <br>
            <a href="#"><li>Scanner</li></a>
            <br>
            <a href="#"><li>Speaker</li></a>
            <br>
            <a href="#"><li>CCTV</li></a>
            <br>
            <a href="#"><li>Monitor</li></a>
        </ul>
        </div>        
</body>
</html>
