<div class="c1">
    <h1 class="txttop">Movies By Marvel Studios</h1>
    <h1 class="bottomtxt">March 9, 2021 At 12:17 AM</h1>
    <img src="../../assets/m5.jpg" alt="unable to load" class="pic1">
    <img src="../../assets/m6.jpg" alt="unable to load" class="pic1">
    <img src="../../assets/m7.jpg" alt="unable to load" class="pic1">
    <img src="../../assets/m8.jpg" alt="unable to load" class="pic1">
    <br>
    <h1 class="intro1">Man of Steel </h1>
    <h1 class="intro2">Rampage</h1>
    <h1 class="intro3">Lost in Space</h1>
    <h1 class="intro4">6 Underground</h1>
    <br>
    <br>
    <button class="btn">read more...</button>


</div>
