<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="linkdiv">
<div class="leftp">
    <i id ="io" class="fa fa-chevron-circle-right" aria-hidden="true"></i>
    <h1 class="maintxt">Main Menu</h1> 
    <ul>
        <i id = "arr" class="fa fa-caret-right" aria-hidden="true"></i>
        <li class="c1">Home</li>
        <i id = "arr2" class="fa fa-caret-right" aria-hidden="true"></i>
        <li>Services</li>
        <i id = "arr2" class="fa fa-caret-right" aria-hidden="true"></i>
        <li>News</li>
        <i id = "arr2" class="fa fa-caret-right" aria-hidden="true"></i>
        <li>Blogs</li>
        <i id = "arr2" class="fa fa-caret-right" aria-hidden="true"></i>
        <li>News Feeds</li>
        <i id = "arr2" class="fa fa-caret-right" aria-hidden="true"></i>
        <li>Wrapper</li>
        <i id = "arr2" class="fa fa-caret-right" aria-hidden="true"></i>
        <li>Advanced Search</li>
        <i id = "arr2" class="fa fa-caret-right" aria-hidden="true"></i>
        <li>FAQ's</li>
        <i id = "arr2" class="fa fa-caret-right" aria-hidden="true"></i>
        <li>Contact Us</li>
     </ul>
     <div class="line"></div>

     <i id ="ib" class="fa fa-chevron-circle-right" aria-hidden="true"></i>
    <h1 class="logtxt">Login Form</h1>
    <h1 class="uname">Username</h1>
    <input type="text" class="u">

    <h1 class="upass">Password</h1>
    <input type="text" class="p">
    <br>
    <input type="checkbox" class="chk">
    <h1 class="rem">Remember Me</h1>
    <br><br>
    <button class="logb">LOGIN</button>
    <br>
    <h1 class="pl"><a href="#">Forget your password?</a></h1>
    <br>
    <h1 class="ul"><a href="#">Forget your username?</a></h1>
    <h1 class="ca">No account yet? <a href="#">Create new account</a></h1>
    <div class="line"></div>
    <i id ="ig" class="fa fa-chevron-circle-right" aria-hidden="true"></i>
    <h1 class="onlinetxt">Who's Online</h1>
    <br>
    <h1 class="onlinetxt2">We have<span class="guest"> 0 guest </span>online</h1>
</div>
