<div class="c1">
    <h1 class="txttop">Movies By Marvel Studios</h1>
    <h1 class="bottomtxt">March 9, 2021 At 12:17 AM</h1>
    <img src="../../assets/m1.jpg" alt="unable to load" class="pic1">
    <img src="../../assets/m2.jpg" alt="unable to load" class="pic1">
    <img src="../../assets/m3.jpg" alt="unable to load" class="pic1">
    <img src="../../assets/m4.jpg" alt="unable to load" class="pic1">
    <br>
    <h1 class="intro1">Captain America </h1>
    <h1 class="intro2">Thor</h1>
    <h1 class="intro3">Iron Man</h1>
    <h1 class="intro4">Hulk</h1>
    <br>
    <br>
    <button class="btn">read more...</button>


</div>
